<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanExample" class="com.prodigious.training.spring.beans.BeanExample" scope="prototype">
        <property name="message" value="This is a bean example message"></property>
    </bean>
</beans>